# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Log Files
*.log

# Android Studio captures folder
captures/

# Intellij
*.iml
.idea/**/*
!.idea/codeStyles
!.idea/codeStyles/*

# MacOS folder properties
*.DS_STORE